DATABASE_URL=
SECRET_KEY=
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=
MAIL_PORT=
MAIL_FROM=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=
BACKEND_URL=
PROMETHEUS_ENABLED=
LOG_LEVEL=
