fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
argon2-cffi
fastapi-mail
loguru
slowapi
cloudinary
pytest
pytest-asyncio
httpx
gunicorn
bleach
python-multipart
prometheus-fastapi-instrumentator